/*VARIABLES COLORES*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

header {
  background: #903152;
  background: linear-gradient(196deg, #903152 0%, #373a43 44%);
  height: 9vh;
  vertical-align: middle;
  border: 1px solid black; }
  header .header {
    color: white;
    border: black;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .header__logo {
      color: pink;
      margin-left: 10px; }
    header .header__lista__navbar ul {
      display: flex;
      flex-direction: row; }
      header .header__lista__navbar ul li {
        margin: auto;
        text-decoration: none;
        list-style: none; }
        header .header__lista__navbar ul li a {
          text-decoration-line: none;
          color: white; }
    header .header__boton {
      font-size: 30px;
      margin-right: 15px; }

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120vh;
  background: #5572b8;
  background: linear-gradient(164deg, #5572b8 0%, #373a43 33%, #373a43 70%, #9f3559 100%);
  border: 1px solid black; }
  .inicio__presentacion {
    margin-top: 8vh;
    text-align: center;
    color: white; }
    .inicio__presentacion h3 {
      color: pink;
      margin-bottom: 25px; }
    .inicio__presentacion h1 {
      margin-bottom: 25px; }
      .inicio__presentacion h1 span {
        color: pink; }
  .inicio__boton {
    border: 3px solid purple;
    margin-bottom: 25vh;
    background-color: transparent; }

.curriculum {
  display: flex;
  height: 125vh;
  flex-direction: column; }
  .curriculum__img {
    display: flex;
    border: 1px solid red;
    height: 45%;
    justify-content: center;
    align-items: center; }
    .curriculum__img img {
      width: 50%; }

.services {
  height: 125vh;
  background-color: black;
  color: white; }

.abilities {
  height: 125vh; }

.projects {
  height: 125vh; }
