/*VARIABLES COLORES*/
@keyframes progreso1 {
  0% {
    width: 0; }
  100% {
    width: 90%; } }

@keyframes progreso2 {
  0% {
    width: 0; }
  100% {
    width: 90%; } }

@keyframes progreso3 {
  0% {
    width: 0; }
  100% {
    width: 80%; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.header {
  background: #903152;
  background: linear-gradient(196deg, #903152 0%, #373a43 44%);
  height: 9vh;
  vertical-align: middle;
  border: 1px solid black;
  width: 100%;
  color: white;
  border: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    color: pink;
    margin-left: 10px; }
  .header__lista {
    display: none; }
    .header__lista__navbar ul {
      display: flex;
      flex-direction: row; }
      .header__lista__navbar ul li {
        margin: auto;
        text-decoration: none;
        list-style: none; }
        .header__lista__navbar ul li a {
          text-decoration-line: none;
          color: white; }
  .header__boton {
    font-size: 30px;
    margin-right: 15px; }

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 600px;
  background: #5572b8;
  background: linear-gradient(164deg, #5572b8 0%, #373a43 33%, #373a43 70%, #9f3559 100%);
  border: 1px solid black;
  padding-top: 20px; }
  .inicio__presentacion {
    margin-top: 9vh;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
    color: white; }
    .inicio__presentacion h3 {
      color: pink;
      margin-bottom: 25px; }
    .inicio__presentacion h1 {
      margin-bottom: 25px; }
      .inicio__presentacion h1 span {
        color: pink; }
  .inicio__boton {
    background-color: transparent; }

.curriculum {
  display: flex;
  min-height: 600px;
  flex-direction: column; }
  .curriculum__img {
    margin-top: 20px;
    display: flex;
    height: 45%;
    justify-content: center;
    align-items: center; }
    .curriculum__img img {
      width: 50%;
      border: 2px solid black; }
  .curriculum__about {
    text-align: center;
    margin-bottom: 0; }
  .curriculum h1 {
    text-align: center;
    margin: 20px;
    margin-bottom: 0; }
  .curriculum span {
    color: pink; }
  .curriculum h2 {
    margin: 20px;
    margin-bottom: 0;
    margin-top: 30px; }
  .curriculum__descripcion {
    margin: 20px;
    text-align: justify; }
  .curriculum__boton {
    border-radius: 50px;
    width: 35%;
    margin: 20px; }

.services {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  color: #111135;
  align-items: center;
  padding-bottom: 20px;
  min-height: 800px; }
  .services__title {
    text-decoration: underline;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px; }
  .services__contenedor {
    display: flex;
    flex-direction: column; }
    .services__contenedor__cards {
      width: 300px;
      height: 200px;
      background-color: white;
      text-align: center;
      margin-bottom: 15px; }
      .services__contenedor__cards__icon {
        background-color: #d3d3d3;
        border-radius: 50px;
        border-color: black;
        width: 50px;
        height: 50px;
        padding: 16px;
        margin-top: 10px;
        margin-bottom: 10px; }

.abilities {
  background: linear-gradient(#eb5a5acc, rgba(33, 16, 16, 0.8)), url("../../img/abilities.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  color: white; }
  .abilities h1 {
    text-align: center;
    margin: 10px;
    margin-bottom: 20px; }
  .abilities__container {
    align-items: center; }
    .abilities__container__info {
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      text-align: center;
      font-size: 0.9rem;
      margin-right: 20px; }
      .abilities__container__info__lista {
        border: 1px solid purple;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        height: 10px;
        width: 10px;
        background-color: #fff; }
    .abilities__container__barra {
      background-color: #919191;
      height: 6px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px; }
      .abilities__container__barra__barra-progreso1 {
        background-color: #fff;
        width: 95%;
        height: 6px;
        animation: progreso1 2s forwards; }
      .abilities__container__barra__barra-progreso2 {
        background-color: #fff;
        width: 95%;
        height: 6px;
        animation: progreso2 2s forwards; }
      .abilities__container__barra__barra-progreso3 {
        background-color: #fff;
        width: 80%;
        height: 6px;
        animation: progreso3 2s forwards; }
      .abilities__container__barra__barra-progreso4 {
        background-color: #fff;
        width: 80%;
        height: 6px;
        animation: progreso3 2s forwards; }

.projects {
  margin-top: 20px;
  margin-bottom: 40px; }
  .projects h1 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px; }
  .projects__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; }
    .projects__contenedor__proyecto {
      width: 300px;
      height: 200px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px; }
      .projects__contenedor__proyecto img {
        width: 100%; }
      .projects__contenedor__proyecto__info h4 {
        font-size: 1.2rem; }

.phone {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  padding-bottom: 50px;
  align-items: center; }
  .phone h1 {
    text-decoration: underline;
    text-align: center;
    margin: 20px; }
  .phone__contenedor {
    width: 80%; }
    .phone__contenedor__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 25px; }
      .phone__contenedor__form__input {
        border-radius: 50px;
        padding-left: 10px; }
    .phone__contenedor__boton {
      border-radius: 50px;
      width: 100px; }

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  text-decoration: none;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  color: white; }
  .footer p {
    text-decoration: none;
    vertical-align: middle; }
  .footer__redes {
    display: flex;
    gap: 10px;
    align-items: center; }
