*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url("./img/Whos-got-more-SleepyCalm-City-Pixel-Art-gif-Album-on-Imgur.gif");
    background: cover;
    background-attachment: fixed;
    

}
.contenedor{
    display: flex;
    
    
}
.contenedor li{
    display: inline;
}

.header{
    width: 100%;
    height: 100vh;
    
}
.header__nav{
    display: flex;
    width: 100%;
    background: rgb(88,33,75);
    background: linear-gradient(164deg, rgba(88,33,75,1) 35%, rgba(0,0,0,1) 73%);
}
.header__nav ul{
    justify-content: flex-end;
}
.header__nav h1{
    color:  white;

}
.header__nav a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
.slide{
    margin-top: 5%;
    max-width: 80vh;
}
.slide img{
    max-height: 300px;

}


 .section{
    display: grid;
    margin: 15px;
    margin-bottom: 50px;
    color: white;
    text-align: justify;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"section_biografia__text section__biografia__img"
                        "section__mision__img section__mision__text"
                        "section__vision__text section__vision__img";
}

.section__biografia__text{
    border: 2px solid black;
    margin: 10px;
    margin-right: 0;
    padding: 7px;
    
 
    
}
.section__biografia__img{
    display: flex;
    justify-content:center;
    align-items: center;
}
.section__biografia__img img{
    max-width: 160px;
    border: 2px solid black;
    border-radius: 150px;
    
    
}

.section__mision__text{
    border: 2px solid black;
    margin: 10px;
    margin-left: 0;
    padding: 7px;
}
.section__vision__text{
    border: 2px solid black;
    margin: 10px;
    margin-left: 0;
    padding: 7px;
}
.section__vision__img{
    display: flex;
    justify-content:center;
    align-items: flex-end;
}
.section__vision__img img{
    max-width: 160px;
    border: 2px solid black;
    border-radius: 150px;
}
.footer{
    width: 100%;
    height: 70px;
    background-color: black;
    border: 7px solid black;
    bottom: 0;
    color: white;


} 
@media screen and (min-width:300px){
    
}
@media screen and (min-width:1200px){
    
}
