@keyframes progreso1{
    0%{width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes progreso2{
    0%{width: 0;
    }
    100%{
        width: 90%;
    }
}
@keyframes progreso3{
    0%{width: 0;
    }
    100%{
        width: 80%;
    }
}