// movile view
@media (min-width:320px) and (max-width:575px) {
    .curriculum{
        flex-direction: column;
        margin-top: 0;
        &__img{
            border: 1px solid red;
            height: 200px;
            img{
                max-width: 160px;
            }
        }
    }
    .footer{
        bottom: 0;
    }
}
// tablet view
@media (min-width:576px){
    .header{
        font-size: 35px;
        &__lista{
            display: flex;
            font-size: 15px;
            ul{
                li{
                    margin: 17px;
                }
            }
        }
        &__boton{
            display: none;
        }
    }
    .services{
        &__contenedor{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .projects{
        &__contenedor{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
        }
    }
    .curriculum{
        min-height: 80vh;
        &__img{
            img{
                width: 300px;
            }
        }
    }
    .menu__desplegable{
        display: none;
    }
}
// tablets 2 view
@media (min-width:768px){
    .header{
        height: 11vh;
        font-size: 40px;
        &__lista{
            font-size: 25px;
        }
    }
    .footer{
        bottom: 0;
    }
}
@media (min-width:992px){
    .header{
        font-size: 45px;
        &__lista{
            font-size: 30px;
        }
        .phone{
            &__contenedor{
                width: 800px;
            }
        }
    }
    .services{
        &__contenedor{
            &__cards{
                width: 350px;
                height: 250px;
            }
        }
    }
    
}
@media (min-width:1120px) {
    .services{
        &__contenedor{
            &__cards{
                width: 425px;
                height: 325px;
            }
        }
    }
}
