.menu__desplegable{
    height: 0;
    overflow:hidden;
    transition: all 0.3s;
    &__contenedor{
        height: 100%;
        border: 1px solid red;
        background-color: black;
        &__nav{
            ul{
                color:white;
               
                li{
                    text-decoration: none;
                    list-style: circle;

                    a{
                        text-decoration-line: none;
                        color:white;
                    }
                }
            }
        }
    }
}
.mostrar{
    height: 100%;
}