.abilities{
    h1{
        text-align: center;
        margin: 10px;
        margin-bottom: 20px;

    }
    background: linear-gradient(#eb5a5acc,rgba(33,16,16,.8)),url('../../img/abilities.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-bottom: 50px;
    color: white;
    &__container{
       
        align-items: center;
        &__info{
            display: flex;
            justify-content: space-between;
            vertical-align: middle;
            text-align: center;
            font-size: 0.9rem;
            margin-right: 20px;
            &__lista{
                border: 1px solid purple;
                display: inline-block;
                margin-left: 20px;
                margin-right: 20px;
                
                height: 10px;
                width: 10px;
                background-color: #fff;
                
                
            }
            

        }
        &__barra{
            background-color: #919191;
            height: 6px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            &__barra-progreso1{
                background-color: #fff;
                // margin-right: 20px;
                // height: 6px;
                // margin-left: 20px;
                // margin-right: 20px;    
                width: 95%;
                height: 6px;
                animation: progreso1 2s forwards;
            }
            &__barra-progreso2{
                background-color: #fff;
                // margin-right: 20px;
                // height: 6px;
                // margin-left: 20px;
                // margin-right: 20px;    
                width: 95%;
                height: 6px;
                animation: progreso2 2s forwards;    
            }
            &__barra-progreso3{
                background-color: #fff;
                // margin-right: 20px;
                // height: 6px;
                // margin-left: 20px;
                // margin-right: 20px;    
                width: 80%;
                height: 6px;
                animation: progreso3 2s forwards;
            }
            &__barra-progreso4{
                background-color: #fff;
                // margin-right: 20px;
                // height: 6px;
                // margin-left: 20px;
                // margin-right: 20px;    
                width: 80%;
                height: 6px;
                animation: progreso3 2s forwards;
            }
            
        }
        
        
    }

}