.curriculum{
    display: flex;
    min-height: 600px;

    
    flex-direction: column;
    &__img{
        margin-top: 20px;
        display: flex;
        height: 45%;
        justify-content: center;
        align-items: center;
        
        
        img{
            width: 50%;
            border: 2px solid black;
            
            
        };
    }
    &__about{
        text-align: center;
        margin-bottom: 0;
    }
    h1{
        text-align: center;
        margin: 20px;
        margin-bottom: 0;
        
    }
    span{
        color: pink;
    }
    h2{
        margin: 20px;
        margin-bottom: 0;
        margin-top: 30px;
    }
    &__descripcion{
        margin: 20px;
        text-align: justify;
    }
    &__boton{
        border-radius: 50px;
        width: 35%;
        margin: 20px;
    }
}