footer{
    position: relative;
    width: 100%;
    bottom: 0;
    
    .footer{
        display: flex;
        justify-content: space-around;
        background-color: #000;
        text-decoration: none;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        color:white;
        
        
        p{
            text-decoration: none;
            vertical-align: middle;
        }
        &__redes{
            display: flex;
            gap: 10px;
            align-items: center;

        }
    }
}