.inicio{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 81vh;
    background: rgb(85,114,184);
    background: linear-gradient(164deg, rgba(85,114,184,1) 0%, rgba(55,58,67,1) 33%, rgba(55,58,67,1) 70%, rgba(159,53,89,1) 100%);
    border: 1px solid black;
    padding-top: 20px;
    &__presentacion{
        
        border: 1px solid red;
        margin-right: 20px;
        margin-left: 20px;
        text-align: center;
        align-items: center;
        color: white;
        h3{
            color: pink;
            margin-bottom: 25px;
            
        }
        h1{
            margin-bottom: 25px;
            span{
                color:pink;
            }
        }
    }
    &__boton{
        background-color: transparent;
        
    }
}