.inicio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid aqua;
    height: 100vh;
    &__presentacion{
        margin-top: 8vh;
        border: 3px solid violet;
        text-align: center;
        h3{
            color: pink;
            margin-bottom: 25px;
            
        }
        h1{
            margin-bottom: 25px;
            span{
                color:pink;
            }
        }
    }
    &__boton{
        border: 3px solid purple;
        margin-bottom: 25vh;
    }
}